* {
    font-family: sans-serif;
}

.container00 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000014;

    .logo {
        width: 320px;
    }

    .form {
        background-color: #ffff;

        .textsContent {
            text-align: center;
            .title {
                font-size: 26px;
                color: #000;
                font-weight: 700;
                margin-bottom: 3px;
            }
            .subTitle {
                font-size: 14px;
                color: #0000009d;
            }
        }

        .line {
            height: 1px;
            background-color: #00000050;
            margin: 15px 0;
        }
    }
}